@media (min-width: 1000px) {
  }
    

/* スマートフォン版のスタイル */
@media (max-width: 1000px) {
  body {
    font-family: "Arial", sans-serif;
    background-color: #ffe4e1;
    display: flex;
    margin: 20px;
    padding: 0px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .index {
    text-align: left;
    max-width: 90%;
  }

  p,
  div {
    max-width: 2000px;
    font-size: 98%;
    font-weight: lighter;
  }

  .quiz-option input[type="radio"] {
    display: none;
  }

  .quiz-option label {
    display: inline-block;
    width: auto; /* ボタンの幅を内容に合わせる */
    padding: 5px 4px;
    margin: 0px auto;
    background-color: #f0f0f0;
    border: 2px solid #d0d0d0;
    border-radius: 20px; /* ボタンを丸っぽくする */
    cursor: pointer;
    text-align: center;
    font-size: 80%;
  }


  input[type="button"] {
    display: inline-block;
    width: auto; /* ボタンの幅を内容に合わせる */
    padding: 10px 8px;
    margin: 0px auto;
    background-color: #f0f0f0;
    border: 2px solid #d0d0d0;
    border-radius: 20px＋; /* ボタンを丸っぽくする */
    cursor: pointer;
    text-align: center;
    font-size: 80%;
  }

  .quiz-option input[type="radio"]:checked + label {
    background-color: #ff69b4;
    color: white;
    border-color: #ff69b4;
  }

  input[type="text"] {
    width: 150px;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #d0d0d0;
    border-radius: 5px;
    font-size: 16px;
  }

  .result {
    display: inline-block;
    text-align: center;
    padding: 0px;
    margin: 20px auto;
    background: #ffe4e1;
    box-shadow: 0px 0px 0px 10px #ffe4e1;
    border: dashed 2px #ff69b4;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%; /* コンテンツの最大幅を画面の80%に設定 */
  }

  .box {
    display: inline-block;
    text-align: center;
    padding: 1px;
    margin: 2px;
    width: 55px;
    background: #ffe4e1;
    border-top: solid 3px #ff69b4;
    border-bottom: solid 3px #ff69b4;
  }

  .left {
    text-align: left;
    max-width: 70%;
  }

  .centered-image {
    display: block; /* 画像をブロック要素として扱う */
    margin-left: auto; /* 左のマージンを自動にする */
    margin-right: auto; /* 右のマージンを自動にする */
    width: 60%; /* 画像の幅を30%に設定（必要に応じて調整） */
  }
}
